.contanierAppMain{
  background-color: #fff;
  width: calc(100% - 20px);
  max-width: 900px;
  margin: auto;
  margin-top: 15vh;
  height: 75vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}
